* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

.everything {
    max-width: 1200px;
    width: 100%;
}

body {
    background-color: rgb(17, 114, 130);
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}